@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@500&display=swap');

.navbar{margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(red, green, blue, alpha) !important;
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-left: 20px ;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: skyblue;

}

#footerpad {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2c3e50;
  color: white;
}


p{
  font-size: medium;
}



p {
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  margin: 0 0 30px 0; }


.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 29px; }

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both; }

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #a84cb8; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #06413b; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f2f3f7;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px; }

.progress-wrap h3 {
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  margin-bottom: 10px; }

.progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible; }

.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px; 
    content: '';
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .progress-bar span {
    position: absolute;
    top: -22px;
    right: 0; }
  .progress-bar.color-1 {
    background: #e41919; }
    .progress-bar.color-1:after {
      background: #e41919; }
    .progress-bar.color-1 span {
      color: red; }
  .progress-bar.color-2 {
    background: #ec5453; }
    .progress-bar.color-2:after {
      background: #ec5453; }
    .progress-bar.color-2 span {
      color: #ec5453; }
  .progress-bar.color-3 {
    background: #f9bf3f; }
    .progress-bar.color-3:after {
      background: #f9bf3f; }
    .progress-bar.color-3 span {
      color: #f9bf3f; }
  .progress-bar.color-4 {
    background: #a84cb8; }
    .progress-bar.color-4:after {
      background: #a84cb8; }
    .progress-bar.color-4 span {
      color: #a84cb8; }
  .progress-bar.color-5 {
    background: #2fa499; }
    .progress-bar.color-5:after {
      background: #2fa499; }
    .progress-bar.color-5 span {
      color: #2fa499; }
  .progress-bar.color-6 {
    background: #4054b2; }
    .progress-bar.color-6:after {
      background: #4054b2; }
    .progress-bar.color-6 span {
      color: #4054b2; }


    




