@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@500&display=swap');

.navbar{margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(red, green, blue, alpha) !important;
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-left: 20px ;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: skyblue;

}

#footerpad {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2c3e50;
  color: white;
}

body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7); 
  background: linear-gradient(49deg, #165cdf98 35%, #165cdf98 50%);
opacity: 1.9;

}